.project {

    .title {
 
        margin-left: 10%;
    }
    .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: 2.2em;
    }
     
}